<div class="header">
  <div class="title">
    Spanish Folks Summer Camping Trip
  </div>
</div>
<div class="weather">
  <a class="weatherwidget-io" href="https://forecast7.com/en/31d32n85d49/midland-city/?unit=us" data-label_1="MIDLAND CITY" data-label_2="WEATHER" data-theme="original" >MIDLAND CITY WEATHER</a>
</div>
<div class="reschedule">
  Camping Trip Rescheduled to October
</div>
<div class="subTitle">
  <div class="subtitleText">
    It's finally time! The summer camping trip is here, and all the information you will need can be found below.
  </div>
</div>
<div class="schedule">
  <div class="scheduleText">
    <strong>Friday:</strong> Arrival, Campfire, Dinner, Drinking
    <br><br>
    <strong>Saturday:</strong> Breakfast, 9:30AM CST - 10:00AM CST River Float, Lunch on the River, Dinner, Campfire, Drinking
    <br><br>
    <strong>Sunday:</strong> Breakfast, Campfire, Departure
  </div>
</div>
<div class="mealPlanHeader">
  Meal Plan
</div>
<div class="mealPlan">
  <div class="meal">
    <div class="mealHeader">Friday</div>
    <div class="food">
      Burgers & Brats
      <br>
      Vegetarian Equivalent
      <br>
      <br>
    </div>
  </div>
  <div class="meal">
    <div class="mealHeader">Saturday</div>
    <div class="food">
      Pancakes
      <br>
      Sandwiches & Chips
      <br>
      Shrimp Boil
    </div>
  </div>
  <div class="meal">
    <div class="mealHeader">Sunday</div>
    <div class="food">
      Eggs & Buscuits
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
<div class="whatToBring">
  <div class="whatToBringHeader">
    What To Bring:
  </div>
  <div class="items">
    Tent
    <br>
    Sleeping Bag
    <br>
    Pillow
    <br>
    Clothes
    <br>
    Swimsuit
    <br>
    Towel
    <br>
    Sunscreen
    <br>
    Bug Spray
    <br>
    Alcohol
    <br>
    Cooler
    <br>
    Snacks
  </div>
</div>
<div class="note">
  <strong>Note:</strong> My parents have limited space for trash. For beer, please either bring cans or we can set up trash bags to bring glass bottles back.
</div>
<div class="location">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1727796.257208506!2d-83.71212963895874!3d32.241879604184405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88928f83d5f8e88b%3A0x78b6a451b4fdea8b!2s267%20Co%20Rd%20531%2C%20Midland%20City%2C%20AL%2036350!5e0!3m2!1sen!2sus!4v1686090417518!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>