$header-color: rgba(0, 0, 0, 0.87);
$hover-highlight: rgba(0, 0, 0, .04);

$font-color: #545451;
$light-gray: #EDEDED;

$hot-pink: #FFAEBC;
$tiffany-blue: #A0E7E5;
$mint: #B4F8C8;
$yellow: #FBE7C6;
$white: white;